@using MovieSite.ApiService.MovieScreenings
@using MovieSite.ApiService.Movies

<div>
    <div class="card w-25" style="margin-bottom:15px">
    <div class="card-header font-weight-bold">@Screening.MovieTitle</div>
    <div class="card-body">
        <div>
        Showing at: @Screening.StartTime.ToString("HH:mm")
        </div>
        <div>
            @Screening.Location
        </div>
        <div>
            @(Screening.PercentageAvailable) % seats available
        </div>
        <div>
            £@Screening.TicketPrice.ToString("c")
        </div>
        <div>
            @Screening.ReviewScore
        </div>
        <div>
            @Screening.BoardRating.ToPrettyString()
        </div>
    </div>
</div>


</div>

@code {
    [Parameter]
    public required GetMovieScreeningView Screening { get; set; }


}